<app-header></app-header>
<div class="space-height"></div>
<!--BASES-->
<br><br>
<a name="bases" id="bases"></a>
<div class="container legal">
  <div class="row">
    <div class="col-sm-12 centro">
      <h1>Bases</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 scroll background-white">
      <app-bases></app-bases>
    </div>
  </div>
</div>

<!--AVISO-->
<br><br>
<a name="aviso" id="aviso"></a>
<div class="container legal">
  <div class="row">
    <div class="col-sm-12 centro">
      <h1>Aviso de Privacidad</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 scroll background-white">
      <app-aviso></app-aviso>
    </div>
  </div>
</div>

<!--TERMINOS-->
<br><br>
<a name="terminos" id="terminos"></a>
<div class="container legal">
  <div class="row">
    <div class="col-sm-12 centro">
      <h1>Términos y Condiciones</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 scroll background-white">
      <app-terminos></app-terminos>
    </div>
  </div>
</div>

<!--CONTACTO-->
<br><br>
<a name="contacto" id="contacto"></a>
<div class="container legal">
  <div class="row">
    <div class="col-sm-12 centro">
      <h1>Contacto</h1>
    </div>
  </div>
  <div class="row ">
    <div class="col-sm-12 scroll">
      <strong id="docs-internal-guid-0ff206d3-7fff-364f-6506-0d2f3548396c">
        <p class="text-center pt-4">dudas&#64;innovacionquepremia.mx</p>
      </strong>
    </div>
  </div>
</div>
<br><br>
