<app-header></app-header>
<div class="space-height"></div>


<section class=" game-section">
  <div></div>
  <div class="container">
    <h2 class="game-title">Memorama</h2>
    <h3 class="game-title2">Instrucciones del juego</h3>

    <div class="steps-container">
      <div class="step" *ngFor="let step of step1">
        <div class="step-circle" [ngClass]="step.color">
          <span>{{ step.letter }}</span>
        </div>
        <div class="step-image">
          <img [src]="step.image" [alt]="'Paso ' + step.letter" />
        </div>
        <p class="step-text" [ngClass]="step.color">{{ step.text }}</p>
      </div>
    </div>
    <div class="steps-container">
      <div class="step" *ngFor="let step of step2">
        <div class="step-circle" [ngClass]="step.color">
          <span>{{ step.letter }}</span>
        </div>
        <div class="step-image">
          <img [src]="" [alt]="'Paso ' + step.letter" />
        </div>
        <p class="step-text" [ngClass]="step.color">{{ step.text }}</p>
      </div>
    </div>
    <div class="row container-g card-img"></div>
    <div class="cont-flex row container-g card-img">
      <img  src="assets/img/card-normal.png"><br>
      <img src="assets/img/card-normal.png"> <br>
      <img src="assets/img/card-normal.png"> <br>
      <img src="assets/img/card-normal.png"> <br>
      <img src="assets/img/card-normal.png"> <br>
    </div>
    <div></div>
    <br>
    <br>

    <div class="col-sm-12 centro btn-group-lg ">
            <a href="/2025/Alka-Defense/juego" class="btn-game btn  btn-success ">    JUGAR   </a>
          </div>
  </div>
</section>
