<!--

<div class="header-fixed">
  <a name="uno" id="uno"></a>
  <header class="header_nav">
    <nav class="navbar navbar-expand-lg navbar-light container navP">
      <a class="navbar-brand" [routerLink]="['/home']">
        <img class="logo"  src="/assets/img/alk-def-logo.svg" alt="Logo_alk_def">
          </a>
          <nav class="navbar navbar-expand-lg navbar-light container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link text-white" [routerLink]="['/home']" fragment="uno" data-ancla="uno">INICIO</a>
                <a class="nav-link text-white" [routerLink]="['/home']" fragment="dos" data-ancla="dos">MECÁNICA</a>
                <a class="nav-link text-white" [routerLink]="['/home']" fragment="tres" data-ancla="tres">REGISTRO</a>
                <a class="nav-link text-white" [routerLink]="['/home']" fragment="cuatro" data-ancla="cuatro">PREMIOS</a>
                <a class="nav-link text-white" [routerLink]="['/home']" fragment="cinco" data-ancla="cinco">GANADORES</a>
                <a *ngIf="miToken !='' " class="nav-link text-white" [routerLink]="['/participa']"
                  data-ancla="cinco">PARTICIPA</a>
                <a *ngIf="miToken !='' " class="nav-link text-white" href="javaScript:void(0)" (click)="salir()"
                  data-ancla="cinco">SALIR</a>
              </div>
            </div>
          </nav>
    </nav>
    <div class="header__barraTipo country"></div>
  </header>
</div>-->
<div class="header-fixed">
  <a name="uno" id="uno"></a>
<header class="header">
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <a href="/">
          <img src="/assets/img/alk-def-logo.svg" alt="Logo" />
        </a>
      </div>

      <button class="hamburger-menu" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </button>

      <nav class="main-menu" [ngClass]="{ open: isMenuOpen }">
        <ul>
          <li *ngFor="let item of menuItems">
            <a [routerLink]="item.path" [fragment]="item.fragment" [ngClass]="item.color">{{
              item.name
            }}</a>
            <a *ngIf="miToken !='' " class="nav-link text-blue" [routerLink]="['/participa']"
                  data-ancla="cinco">PARTICIPA</a>
            <a *ngIf="miToken !='' " class="nav-link text-blue" href="javaScript:void(0)" (click)="salir()"
                  data-ancla="cinco">SALIR</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</header>
</div>
