<div class="header-fixed">
  <a name="uno" id="uno"></a>
<header class="header">
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <a href="/">
          <img src="assets/img/alk-def-logo.svg" alt="Logo" />
        </a>
      </div>

      <button class="hamburger-menu" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </button>

      <nav class="main-menu" [ngClass]="{ open: isMenuOpen }">
        <ul>
          <li *ngFor="let item of menuItems">

            <a [routerLink]="item.path" [fragment]="item.fragment" [ngClass]="item.color">{{
              item.name
            }}</a>
          </li>
          <li>
            <a *ngIf="miToken !='' " class="purple" [routerLink]="['/participa']"
                  data-ancla="cinco">Participa</a>
          </li>
          <li>
            <a *ngIf="miToken !='' " class="purple" href="javaScript:void(0)" (click)="salir()"
                  data-ancla="cinco">Salir</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</header>
</div>
