<app-header></app-header>
<!--HOME-->
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 center">

      </div>
    </div>
  </div>
</section>

<!--GRACIAS-->
<div class="container">
  <div class="row">
    <div class="col-sm-12 centro">
      <h1>¡Gracias!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12"></div>
    <div class="col-md-4 col-sm-12 centro">
      <i class="fa-solid fa-paper-plane iconG"></i><br>
      <p>La publicación de ganadores se realizará en el sitio www.innovacionquepremia.mx
      </p>
    </div>
    <div class="col-md-4 col-sm-12"></div>
  </div>
  <br><br>
</div>
