<app-header></app-header>
<!--HOME-->
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 center">

      </div>
    </div>
  </div>
</section>

<!--GRACIAS-->
<div class="container">
  <div class="row">
    <div class="col-sm-12 centro">
      <h1>¡Tu participación fue enviada!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12"></div>
    <div class="col-md-4 col-sm-12 centro">
      <i class="fa-solid fa-paper-plane iconG"></i><br>

      <h2>Si eres una de las primeras 3 personas en completar el objetivo de la mécanica, al 
final de la promoción te localizaremos para hacerte entrega de tu incentivo</h2>
      <p>La publicación de ganadores se realizará en el sitio www.innovacionquepremia.mx
      </p>
      <button type="button" class="btn btn-info  btn-alk" data-bs-dismiss="modal">Sguiente</button>
    </div>
    <div class="col-md-4 col-sm-12"> 
    </div>
  </div>
  <br><br>
</div>
