<app-header></app-header>
<!--HOME-->
<section class="banner thank-bg">
  <div class="container">
    <br>
    <br>
    <div class="row ">

      <!--GRACIAS-->
      <div class="container  thanks-card">
        <div class="row">
          <div class="col-sm-12 centro">
            <h1 class="thank-title">¡Tu participación fue enviada!</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12"></div>
          <div class="col-sm-12 centro">
            <h2 class="thank-parr">Si eres una de las primeras 3 personas en completar<br> el objetivo de la mécanica,
              al final de la promoción te localizaremos para hacerte entrega de tu incentivo.</h2>
            <p>La publicación de ganadores se realizará en el sitio www.innovacionquepremia.mx</p> <br>
            <img src="/assets/img/enviar-ima.png" alt="thank-img">
            <p class="txt-parr">*Hasta agotar existencias...</p>
          </div>

          <div class="col-sm-12 centro">
            <button type="button" class="btn btn-primary btnG" data-bs-dismiss="modal">Siguiente</button>
          </div>
        </div>
        <br><br>
      </div>

    </div>
    <br>
    <br>

  </div>
</section>