@media (max-width: 1440px) {
    .banner{
        background-image: url(../img/hero-bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 300px;
    }
  }
@media (max-width: 1200px) {
    .banner{
        background-image: url(../img/hero-bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 300px;
    }
  }
  @media (max-width: 992px) {
    .banner{
        background-image: url(../img/hero-bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 200px;
    }
  }
@media (max-width: 800px) {
    .logoR{
        max-width: 130px;
    }
    .navP{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .rig{
        text-align: center !important;
    }
    .text, .text2{
        padding-top: 10px;
        text-align: center;
    }
    .padd{
        padding-top: 20px;
    }
  }



  @media (max-width: 650px) {
    .banner{
        background-image: url(../img/hero-bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
    }
  }

   @media (max-width: 300px) {
    .banner{
        background-image: url(../img/hero-bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
    }
  }
  @media (max-width: 500px) {
    .foto{
        width: 250px;
    }
  }

  @media (max-width: 768px) {
  .mecanica-section {
    .steps-container {
      .step {
        width: 100%;
      }
    }
  }
}