<!--FOOTER-->


<footer>
    <div class="container">
        <div class="footer-content d-flex flex-column align-items-center align-items-md-start justify-content-between py-4">
            <div class="logo mb-3 mb-md-0">
                <a href="/">
                    <img src="/assets/img/alk-def-logo.svg" alt="Logo" class="img-fluid" style="max-width: 150px;">
                </a>
            </div>

            <div class="d-flex flex-column flex-md-row align-items-center mb-3 mb-md-0">
                <a class="nav-legal me-md-3 mb-2 mb-md-0" [routerLink]="['/legales']" fragment="bases">Bases</a>
                <a class="nav-legal me-md-3 mb-2 mb-md-0" [routerLink]="['/legales']" fragment="aviso">Aviso de Privacidad</a>
                <a class="nav-legal me-md-3 mb-2 mb-md-0" [routerLink]="['/legales']" fragment="terminos">Términos y Condiciones</a>
                <a class="nav-legal mb-2 mb-md-0" [routerLink]="['/legales']" fragment="contacto">Contacto</a>
            </div>

            </div>
    </div>

    <div class="bg-light py-3 mt-2">
        <div class="container">
            <div class="footer-bottom-content text-center">
                <p class="mb-0 small">MYMA. Este sitio utiliza cookies para ayudarnos a mejorar tu experiencia cada vez que lo visites. Al continuar navegando en el, estarás aceptando su uso. Podrás deshabilitarlas accediendo a la configuración de tu navegador.</p>
            </div>
        </div>
    </div>
</footer>




<!--
<footer>
  <div class="container">
    <div class="footer-content">
      <div class="logo">
        <a href="/">
          <img src="/assets/img/alk-def-logo.svg" alt="Logo" />
        </a>
      </div>
      
    <div class="row">
      <div class="col-ms-6">
        <a class="nav-legal" [routerLink]="['/legales']" fragment="bases">Bases</a>
        <a class="nav-legal" [routerLink]="['/legales']" fragment="aviso">Aviso de Privacidad</a>
        <a class="nav-legal" [routerLink]="['/legales']" fragment="terminos">Términos y Condiciones</a>
        <a class="nav-legal" [routerLink]="['/legales']" fragment="contacto">Contacto</a>
      </div>
      </div>
      borarr
      <div class="col-md-6 col-ms-12 rig padd">
        <a href="https://www.facebook.com/RepsolMexico/" target="_blank"><i
            class="fa-brands fa-facebook-f icon-nav"></i></a>
        <a href="https://twitter.com/repsolmexico" target="_blank"><i class="fa-brands fa-twitter icon-nav"></i></a>
        <a href="https://www.instagram.com/repsol/" target="_blank"><i class="fa-brands fa-instagram icon-nav"></i></a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="footer-content">
  <div class="row">
      <div class="cont-flex center ">
        <p>MYMA. Este sitio utiliza cookies para ayudarnos a mejorar tu experiencia cada vez que lo visites. Al continuar navegando en el, estarás aceptando su uso. Podrás deshabilitarlas accediendo a la configuración de tu navegador.</p>
  </div>
</div>
  </div>
  </div>    

</footer>-->

