<!--FOOTER-->
<footer>
    <div class="cont-flex">
        <div>
            <a href="/">
                <img src="assets/img/alk-def-logo.svg" alt="Alk-def">
            </a>
        </div>
        <div>
            <ul>
                <li><a href="#" class="nav-legal" data-bs-toggle="modal" data-bs-target="#bases">Bases</a></li>
                <li><a href="#"  class="nav-legal" data-bs-toggle="modal" data-bs-target="#aviso">Aviso de Privacidad</a></li>
                <li><a href="#"  class="nav-legal" data-bs-toggle="modal" data-bs-target="#contacto">Contacto</a></li>
            </ul>
        </div>
    </div>
    <div class="cont-flex">
        <p>MYMA. Este sitio utiliza cookies para ayudarnos a mejorar tu experiencia cada vez que lo visites. Al continuar navegando en el, estarás aceptando su uso. Podrás deshabilitarlas accediendo a la configuración de tu navegador.</p>
    </div>
</footer>

<!-- Modal Bases -->
<div class="modal fade" id="bases" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Bases</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <app-bases></app-bases>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-alk" data-bs-dismiss="modal">Entendido</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Aviso -->
<div class="modal fade" id="aviso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso de Privacidad</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <app-aviso></app-aviso>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info  btn-alk" data-bs-dismiss="modal">Entendido</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Contacto -->
<div class="modal fade" id="contacto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Contacto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Para cualquier aclaración o información referente a esta Promoción, comunicarse mediante el siguiente correo electrónico:
            <a href="mailto:contacto&#64;promoproteccion.com.mx">contacto&#64;promoproteccion.com.mx</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-alk" data-bs-dismiss="modal">Entendido</button>
            </div>
        </div>
    </div>
</div>



