<!--FOOTER-->
<footer>
  <div class="container">
     <div class="footer-content">
      <div class="logo">
        <a href="/">
          <img src="/assets/img/alk-def-logo.svg" alt="Logo" />
        </a>
      </div>
      
    <div class="row">
      <div class="col-ms-12 center ">
        <a class="nav-legal" [routerLink]="['/legales']" fragment="bases">Bases</a>
        <a class="nav-legal" [routerLink]="['/legales']" fragment="aviso">Aviso de Privacidad</a>
        <a class="nav-legal" [routerLink]="['/legales']" fragment="terminos">Términos y Condiciones</a>
        <a class="nav-legal" [routerLink]="['/legales']" fragment="contacto">Contacto</a>
      </div>
      </div>
      <!--
      <div class="col-md-6 col-ms-12 rig padd">
        <a href="https://www.facebook.com/RepsolMexico/" target="_blank"><i
            class="fa-brands fa-facebook-f icon-nav"></i></a>
        <a href="https://twitter.com/repsolmexico" target="_blank"><i class="fa-brands fa-twitter icon-nav"></i></a>
        <a href="https://www.instagram.com/repsol/" target="_blank"><i class="fa-brands fa-instagram icon-nav"></i></a>
      </div>-->
    </div>
  </div>
  
</footer>

