<div class="cont-legales">
  <div title="header">
    <p style="line-height: 100%; margin-bottom: 0in; border: none; padding: 0in">
      <font color="#999999">
        <font face="Arial, serif">
          <font size="4" style="font-size: 14pt"><b> <br />
              Dinámica “Innovación que premia”</b></font><br /><br />
        </font>
      </font>
    </p>

  </div>


  <p>&nbsp;</p>
  <ol start="1">
    <li><strong>GENERALES.</strong></li>
  </ol>
  <p>Se hacen p&uacute;blicas las presentes Bases para la promoci&oacute;n denominada <strong>&ldquo;Innovaci&oacute;n
      que
      premia&rdquo;</strong> lo cual implica que al acceder a ellas es responsabilidad de los
    &ldquo;participantes&rdquo;
    dar lectura, conocimiento y aceptaci&oacute;n respecto a las bases, t&eacute;minos y condiciones, en lo sucesivo las
    &ldquo;Bases&rdquo; sobre las cuales se rige.</p>
  <p>&nbsp;</p>
  <p>La participaci&oacute;n en esta din&aacute;mica implica la completa y total aceptaci&oacute;n de las Bases y su
    mec&aacute;nica. Su aceptaci&oacute;n conlleva regirse por estos lineamientos para el desarrollo del presente
    concurso. Las pol&iacute;ticas, mec&aacute;nica y restricciones no son renunciables, ni est&aacute;n sujetas a
    negociaci&oacute;n o modificaci&oacute;n de ninguna &iacute;ndole. Asimismo, se entender&aacute; que los
    participantes
    han le&iacute;do y comprendido &iacute;ntegramente estas Bases, y se comprometen a cumplir totalmente con los
    requisitos y condiciones aqu&iacute; establecidos.</p>
  <p>&nbsp;</p>
  <p>La informaci&oacute;n que los participantes proporcionen &uacute;nicamente ser&aacute; utilizada para lo
    especificado
    en las presentes Bases, en el Aviso de Privacidad se&ntilde;alado en el numeral 9 y se determina que dicha
    informaci&oacute;n da cumplimiento a lo establecido en la Ley Federal de Protecci&oacute;n de Datos Personales en
    Posesi&oacute;n de los Particulares.</p>
  <p>&nbsp;</p>
  <p>Para cualquier aclaraci&oacute;n o informaci&oacute;n referente a esta Promoci&oacute;n, comunicarse mediante el
    siguiente correo electr&oacute;nico: <u>dudas&#64;innovacionquepremia.mx</u> .</p>
  <p>&nbsp;</p>
  <p><strong>Nombre de la din&aacute;mica. </strong></p>
  <p>&ldquo;Innovaci&oacute;n que premia&rdquo;</p>
  <p>&nbsp;</p>
  <p><strong>Organizador y responsable legal de la din&aacute;mica (en lo sucesivo, el
      &ldquo;Organizador&rdquo;).</strong></p>
  <p>Marketing y Medios Alternativos, S.A. de C.V. con domicilio en Bosques de Duraznos #61 Piso 8 D Col. Bosques de las
    lomas, Alcald&iacute;a Miguel Hidalgo, CDMX, CP. 11700</p>
  <p>&nbsp;</p>
  <p><strong>Vigencia de la Din&aacute;mica.</strong></p>
  <p>Del 25 de marzo al 31 de diciembre de 2024.</p>
  <p>&nbsp;</p>
  <p><strong>Cobertura.</strong></p>
  <p>Rep&uacute;blica Mexicana, nivel nacional.</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
  <p>&nbsp;</p>
  <ol start="2">
    <li><strong>PARTICIPANTES.</strong></li>
  </ol>
  <p>Cualquier persona f&iacute;sica mayor de 18 a&ntilde;os, con residencia legal en la Rep&uacute;blica Mexicana y que
    cumpla con todos los requisitos y condiciones de las presentes Bases.</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <ol start="3">
    <li><strong>PREMIOS POR OTORGAR.</strong></li>
  </ol>
  <p>&nbsp;</p>
  <p>De conformidad con lo dispuesto en las presentes Bases, se otorgar&aacute;n los siguientes premios:</p>
  <p>&nbsp;</p>
  <p><strong>Premios</strong></p>
  <p>Se otorgar&aacute;n 3 (tres) premios en cada uno de los periodos disponibles dentro de la vigencia de la
    promoci&oacute;n, correspondientes a:</p>
  <p>&nbsp;</p>
  <p>$500.00 (quinientos pesos M.N.) entregados mediante transferencia bancaria.</p>
  <p>&nbsp;</p>
  <p><strong>Monto m&aacute;ximo de premios.</strong></p>
  <p>$13,500.00 (trece mil quinientos pesos 00/100 M.N.).</p>
  <p>&nbsp;</p>
  <ol start="4">
    <li><strong>MEC&Aacute;NICA DE LA DIN&Aacute;MICA.</strong></li>
  </ol>
  <p>&nbsp;</p>
  <ol>
    <li>Entra directamente al sitio web de la promoci&oacute;n <a
        href="http://www.innovacionquepremia.mx">innovacionquepremia.mx</a></li>
    <li>Crea un usuario ingresando los siguientes datos personales: nombre completo, edad, n&uacute;mero
      telef&oacute;nico
      a 10 d&iacute;gitos y correo electr&oacute;nico.</li>
    <li>Ingresa con tu usuario y resuelve el juego en l&iacute;nea en el menor tiempo posible.</li>
    <li>Los tres participantes que hayan cumplido con el objetivo del juego en el menor tiempo posible, durante el
      periodo
      de participaci&oacute;n correspondiente, ser&aacute;n ganadores de uno de los premios ofrecidos. En caso de empate
      ser&aacute; ganador el participante que haya registrado primero la participaci&oacute;n, para ello ser&aacute;n
      tomados en cuenta el d&iacute;a, hora, minuto y segundo del registro.</li>
  </ol>
  <p>&nbsp;</p>
  <table>
    <tbody>
      <tr>
        <td width="170">
          <p><strong>Semana de participaci&oacute;n</strong></p>
        </td>
        <td width="419">
          <p><strong>Periodo</strong></p>
        </td>
      </tr>
      <tr>
        <td width="170">
          <p><strong>1</strong></p>
        </td>
        <td width="419">
          <p>Del 25 de marzo al 30 de abril de 2024.</p>
        </td>
      </tr>
      <tr>
        <td width="170">
          <p><strong>2</strong></p>
        </td>
        <td width="419">
          <p>Del 1&ordm; al 31 de mayo de 2024</p>
        </td>
      </tr>
      <tr>
        <td width="170">
          <p><strong>3</strong></p>
        </td>
        <td width="419">
          <p>Del 1&ordm; al 30 de junio de 2024.</p>
        </td>
      </tr>
      <tr>
        <td width="170">
          <p><strong>4</strong></p>
        </td>
        <td width="419">
          <p>Del 1&ordm; al 31 de julio de 2024.</p>
        </td>
      </tr>
      <tr>
        <td width="170">
          <p><strong>5</strong></p>
        </td>
        <td width="419">
          <p>Del 1&ordm; al 31 de agosto de 2024.</p>
        </td>
      </tr>
      <tr>
        <td width="170">
          <p><strong>6</strong></p>
        </td>
        <td width="419">
          <p>Del 1&ordm; al 30 de septiembre de 2024.</p>
        </td>
      </tr>
      <tr>
        <td width="170">
          <p><strong>7</strong></p>
        </td>
        <td width="419">
          <p>Del 1&ordm; al 31 de octubre de 2024.</p>
        </td>
      </tr>
      <tr>
        <td width="170">
          <p><strong>8</strong></p>
        </td>
        <td width="419">
          <p>Del 1&ordm; al 30 de noviembre de 2024.</p>
        </td>
      </tr>
      <tr>
        <td width="170">
          <p><strong>9</strong></p>
        </td>
        <td width="419">
          <p>Del 1&ordm; al 31 de diciembre de 2024.</p>
        </td>
      </tr>
    </tbody>
  </table>
  <p>Tabla 1. Periodos de participaci&oacute;n</p>
  <p>&nbsp;</p>
  <ol start="5">
    <li><strong>PUBLICACI&Oacute;N DE GANADORES</strong></li>
  </ol>
  <p>&nbsp;</p>
  <p>La lista de ganadores ser&aacute; publicada en el micrositio de la promoci&oacute;n www.innovacionquepremia.mx, los
    jueves de la semana posterior al t&eacute;rmino de cada periodo de participaci&oacute;n.</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <ol start="6">
    <li><strong>ENTREGA DE PREMIOS.</strong></li>
  </ol>
  <p>&nbsp;</p>
  <p>Despu&eacute;s de la publicaci&oacute;n de ganadores, un ejecutivo de la agencia contratada por el Organizador se
    pondr&aacute; en contacto telef&oacute;nico con cada uno de ellos, para indicarles el procedimiento a seguir para la
    entrega del premio.</p>
  <p>&nbsp;</p>
  <p>Para que los ganadores tengan derecho al premio, adem&aacute;s de cumplir con todos los requisitos de las presentes
    Bases, deber&aacute;n enviar la siguiente documentaci&oacute;n digitalizada dentro de los 10 d&iacute;as
    h&aacute;biles a partir de la publicaci&oacute;n de su nombre en la lista de ganadores:</p>
  <p>&nbsp;</p>
  <ul>
    <li>Copia de identificaci&oacute;n oficial vigente con fotograf&iacute;a por ambos lados (credencial del INE,
      pasaporte o c&eacute;dula profesional con fotograf&iacute;a).</li>
    <li>Copia de RFC con homoclave o CURP.</li>
    <li>Recibo de conformidad del premio obtenido, mismo que deber&aacute; tener firma aut&oacute;grafa del ganador.
    </li>
    <li>Carta de autorizaci&oacute;n de imagen, voz y nombre, misma que deber&aacute; tener firma aut&oacute;grafa del
      ganador.</li>
  </ul>
  <p>&nbsp;</p>
  <p>Una vez que el ejecutivo a cargo reciba y corrobore que toda la documentaci&oacute;n previamente mencionada sea
    correcta y est&eacute; completa, entonces se validar&aacute; la condici&oacute;n de ganador y se proceder&aacute; a
    la
    entrega de su premio.</p>
  <p>&nbsp;</p>
  <p>En caso de que el ganador no sea localizado, no reclame el premio, no tenga o no env&iacute;e toda la
    documentaci&oacute;n requerida dentro del tiempo estipulado en las presentes Bases, que la documentaci&oacute;n
    entregada no sea v&aacute;lida, o bien, que no se cumpla con alguna de las condiciones estipuladas en las presentes
    Bases, el responsable de la din&aacute;mica podr&aacute; disponer de los premios como mejor convenga a sus intereses
    sin que exista opci&oacute;n de remuneraci&oacute;n alguna para el posible ganador, deslindando de cualquier
    responsabilidad al Organizador.</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <ol start="7">
    <li><strong>CONDICIONES Y RESTRICCIONES.</strong></li>
  </ol>
  <p>&nbsp;</p>
  <ul>
    <li>La participaci&oacute;n en esta promoci&oacute;n implica la lectura y aceptaci&oacute;n del Aviso de Privacidad
      y
      de la totalidad de sus Bases y mec&aacute;nica de la misma, las cuales son inapelables. Su aceptaci&oacute;n es
      gratuita y conlleva regirse por estas para el desarrollo del presente concurso. Las pol&iacute;ticas,
      mec&aacute;nica y restricciones no son renunciables, ni est&aacute;n sujetas a negociaci&oacute;n o
      modificaci&oacute;n de ninguna &iacute;ndole, asimismo, acepta cumplirlas y al participar se entender&aacute; que
      ha
      le&iacute;do y comprendido &iacute;ntegramente estas Bases, y se compromete a cumplir totalmente con los
      requisitos
      y condiciones aqu&iacute; establecidos.</li>
    <li>&Uacute;nicamente podr&aacute;n participar personas f&iacute;sicas mayores de 18 a&ntilde;os, residentes en la
      Rep&uacute;blica Mexicana que cumplan con todos los requisitos de las presentes Bases.</li>
    <li>Es plena responsabilidad del participante verificar que los datos proporcionados al momento de su registro sean
      correctos.</li>
    <li>La participaci&oacute;n en esta din&aacute;mica no est&aacute; condicionada a la compra de un bien o
      contrataci&oacute;n de un servicio.</li>
    <li>El participante solamente tendr&aacute; una oportunidad de resolver el juego por cada bloque de
      participaci&oacute;n, a&uacute;n y cuando cree diferentes usuarios. En caso de que se detecten m&aacute;s
      participaciones del mismo concursante ser&aacute; tomada en cuenta &uacute;nicamente la primera realizada.</li>
    <li>No podr&aacute; haber m&aacute;s de un ganador por n&uacute;mero telef&oacute;nico y/o correo electr&oacute;nico
      registrados, a&uacute;n logrando el objetivo de la mec&aacute;nica.</li>
    <li>Limitado a 1 (un) premio por usuario (ganador) durante toda la promoci&oacute;n.</li>
    <li>Para recibir alguno de los premios no se requiere de alg&uacute;n pago, &uacute;nicamente cumplir las
      condiciones
      y requisitos establecidos en las presentes Bases.</li>
    <li>&Uacute;nicamente se har&aacute; entrega del premio al ganador. No se aceptan cartas poder, a excepci&oacute;n
      de
      fallecimiento del ganador, donde el premio s&oacute;lo podr&aacute; ser transferido al beneficiario que cuente con
      el documento legal respectivo que lo acredite con tal car&aacute;cter.</li>
    <li>El ganador deber&aacute; tener una cuenta bancaria a su nombre y proporcionar los 18 d&iacute;gitos de su cuenta
      CLABE (mediante un documento oficial), de no tenerla deber&aacute; abrir una en la instituci&oacute;n bancaria de
      su
      preferencia.</li>
    <li>El premio indicado no incluye ninguna otra prestaci&oacute;n y/o servicio adicional o distinto a los estipulados
      en las Bases de la promoci&oacute;n. El Organizador de la promoci&oacute;n no asumir&aacute; gasto alguno, de
      cualquier tipo.</li>
    <li>En caso necesario, el Organizador se reserva el derecho de modificar el premio por otro similar, de valor
      equivalente al se&ntilde;alado en las presentes Bases.</li>
    <li>Las im&aacute;genes del o de los premios mostrados en la publicidad son &uacute;nicamente de car&aacute;cter
      ilustrativo.</li>
    <li>En caso de no reclamar el premio o de no cumplir con alguna de las condiciones para el reclamo de este, el
      Organizador podr&aacute; reasignarlo, o bien, podr&aacute; disponer de &eacute;l como mejor convenga a sus
      intereses, sin responsabilidad alguna.</li>
    <li>En caso de no existir participaci&oacute;n suficiente durante el periodo de la promoci&oacute;n, el Organizador
      podr&aacute; disponer de los premios como mejor convenga a sus intereses, sin responsabilidad alguna.</li>
    <li>Los datos proporcionados por el participante, a trav&eacute;s de la p&aacute;gina de internet de la
      promoci&oacute;n, deber&aacute;n corresponder con la documentaci&oacute;n entregada, de lo contrario no se
      podr&aacute; realizar la entrega del premio.</li>
    <li>En caso de que el ganador sea de procedencia extranjera, deber&aacute; presentar alg&uacute;n documento oficial
      que avale su estancia legal en el pa&iacute;s.</li>
    <li>Quien resulte ganador deber&aacute; presentar y entregar copias legibles de los siguientes documentos:
      identificaci&oacute;n oficial vigente con fotograf&iacute;a (ambos lados); con homoclave, CURP. Asimismo, todos
      los
      ganadores deber&aacute;n firmar el recibo de conformidad y una carta de autorizaci&oacute;n de uso de su imagen,
      nombre y voz, para tener derecho a recibir el premio.</li>
    <li>El ganador deber&aacute; enviar toda la documentaci&oacute;n solicitada mediante correo electr&oacute;nico, para
      tener derecho al premio. El Organizador se har&aacute; responsable de cubrir el gasto generado de la
      mensajer&iacute;a.</li>
    <li>En caso de que el ganador env&iacute;e o entregue incompleta la documentaci&oacute;n solicitada ser&aacute;
      responsable del env&iacute;o de la documentaci&oacute;n faltante dentro del tiempo estipulado para reclamar el
      premio.</li>
    <li>El plazo para reclamar los premios vence&nbsp;a los 10 d&iacute;as h&aacute;biles a partir de la
      publicaci&oacute;n de ganadores.</li>
    <li>La documentaci&oacute;n recibida ser&aacute; sometida a un proceso de verificaci&oacute;n y validaci&oacute;n,
      ya
      que, en caso de no cumplir con todos los requisitos de esta promoci&oacute;n, no se podr&aacute; proceder a la
      entrega del premio.</li>
    <li>Ning&uacute;n premio es transferible, ni intercambiable, ni negociable, por lo que no podr&aacute; ser canjeado
      por ning&uacute;n otro bien distinto al se&ntilde;alado en las presentes Bases, ni por su valor en efectivo; a
      petici&oacute;n del ganador o personas ajenas al Organizador, a&uacute;n presentando los correos de
      confirmaci&oacute;n de compra registrados en la participaci&oacute;n correspondiente al registro ganador.</li>
    <li>La mec&aacute;nica de participaci&oacute;n aqu&iacute; descrita constituye &uacute;nicamente un concurso, por lo
      que no debe considerarse en ninguna circunstancia como una apuesta, juego o sorteo. En esta promoci&oacute;n no
      interviene el azar, la suerte, la combinaci&oacute;n de n&uacute;meros o la aleatoriedad, tampoco interviene la
      apuesta de cualquier &iacute;ndole por lo que, la asignaci&oacute;n del ganador no depende del azar, sino que
      est&aacute; sujeta a su habilidad y conocimientos.</li>
    <li>Cualquier horario indicado en las presentes Bases est&aacute; considerado en el horario central de la Ciudad de
      M&eacute;xico (CDT).</li>
    <li>Cualquier modificaci&oacute;n a las presentes Bases se realizar&aacute; previo aviso a los participantes y a la
      autoridad competente a trav&eacute;s del mismo medio de publicaci&oacute;n.</li>
    <li>No podr&aacute;n participar empleados, representantes y agentes de MARKETING Y MEDIOS ALTERNATIVOS S.A. DE C.V.
      y
      BARDAHL DE M&Eacute;XICO S. A. DE C.V., los proveedores de premios o sus respectivas divisiones, subsidiarias,
      afiliados, franquiciados, accionistas, miembros, funcionarios, directores, representantes, agentes, agencias de
      publicidad y promoci&oacute;n, proveedores o miembros de las familias inmediatas (definidas como padres, hermanos,
      hijos y c&oacute;nyuges, independientemente de d&oacute;nde vivan) de las personas domiciliadas (sean parientes o
      no), cualquier de los anteriores.</li>
  </ul>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <ol start="8">
    <li><strong>T&Eacute;RMINOS LEGALES</strong></li>
  </ol>
  <p>&nbsp;</p>
  <ul>
    <li>Los participantes y ganadores de la promoci&oacute;n conceden a MARKETING Y MEDIOS ALTERNATIVOS S.A. DE C.V. y a
      BARDAHL DE M&Eacute;XICO S. A. DE C.V de manera irrevocable, gratuita y por tiempo indefinido; el derecho de usar,
      adaptar, traducir, reproducir, editar, modificar, anunciar, transmitir, mostrar, publicar, comunicar, difundir,
      y/o
      de cualquier otro modo explotar sonora y/o visualmente su nombre, usuario o <em>nickname</em>, comentarios,
      respuestas o cualquier interacci&oacute;n, obtenida durante el desarrollo de la Promoci&oacute;n y durante o
      posterior a la entrega de premios, a trav&eacute;s de cualquier medio de comunicaci&oacute;n, m&eacute;todo,
      tecnolog&iacute;a o mecanismo de transmisi&oacute;n de contenidos conocido o por conocerse en el futuro, y para
      cualquier prop&oacute;sito, incluyendo pero sin que constituya limitaci&oacute;n, aquellos&nbsp; relacionados con
      la
      promoci&oacute;n, su administraci&oacute;n, evaluaci&oacute;n, propaganda y/o publicidad, as&iacute; como con la
      promoci&oacute;n, propaganda, publicidad y/u otra explotaci&oacute;n del Organizador, sin que exista necesidad de
      otro consentimiento o de consideraciones adicionales.</li>
    <li>Al aceptar cualquier premio, el Ganador libera de cualquier responsabilidad civil, penal, administrativa o de
      cualquier otra &iacute;ndole y se obliga a mantener en paz y a salvo a MARKETING Y MEDIOS ALTERNATIVOS S.A. DE
      C.V.
      y a BARDAHL DE M&Eacute;XICO S. A. DE C.V., y/o a sus controladoras, empresas filiales y subsidiarias, nacionales
      o
      extranjeras, as&iacute; como a respectivos representantes, funcionarios, oficiales, directores, empleados,
      accionistas, gerentes, abogados, agentes, clientes, proveedores, sucesores en inter&eacute;s, concesionarios y/o
      licenciatarios, en forma permanente e irrevocable de y contra toda acci&oacute;n legal o reclamaci&oacute;n por
      p&eacute;rdidas, da&ntilde;os y/o perjuicios (incluyendo lesi&oacute;n, enfermedad, incapacidad o muerte) que
      afecte
      o se alegue haya&nbsp; afectado a su persona, bienes, posesiones y patrimonio (inclusive honorarios de abogados)
      de
      cualquier clase y naturaleza. El ganador, expresamente libera a dichas personas y sociedades de toda
      responsabilidad
      o reclamaci&oacute;n que surja en todo o en parte, directa o indirectamente, relacionada con la aceptaci&oacute;n
      y
      el disfrute del Premio, incluyendo, de manera enunciativa m&aacute;s no limitativa, cualquier da&ntilde;o o
      perjuicio, enfermedad, lesi&oacute;n, p&eacute;rdida y/o gasto sufrido antes, durante o despu&eacute;s de usarlo o
      disfrutarlo.</li>
    <li>El Organizador no se hace responsable por participaciones fuera de los plazos especificados en la vigencia de la
      promoci&oacute;n.</li>
    <li>El Organizador de la promoci&oacute;n se reserva el derecho de limitar o prohibir la participaci&oacute;n en
      esta
      promoci&oacute;n a cualquier persona, en el caso de presumir la existencia de fraude o alteraci&oacute;n de la
      mec&aacute;nica de funcionamiento de la promoci&oacute;n, o si el participante no cumple totalmente con los
      requisitos de participaci&oacute;n establecidos en las presentes Bases.</li>
    <li>Advertencia: Cualquier intento, hecho por cualquier persona, de da&ntilde;ar, alterar deliberadamente cualquier
      sitio de Internet o servicio telef&oacute;nico relacionado con esta promoci&oacute;n, o de alterar la
      leg&iacute;tima operaci&oacute;n de la misma, constituye una violaci&oacute;n a las leyes de car&aacute;cter civil
      y
      penal; raz&oacute;n por la cual, en caso de presentarse dicho intento, el Organizador de la promoci&oacute;n se
      reserva el derecho de reclamar indemnizaci&oacute;n por da&ntilde;os y perjuicios frente a cualquier persona, ante
      las autoridades y por la v&iacute;a correspondiente.</li>
    <li>La sola participaci&oacute;n en esta promoci&oacute;n implica, para los participantes, el conocimiento y
      aceptaci&oacute;n de todas y cada una de las disposiciones descritas en las presentes Bases. El organizador se
      reserva el derecho de descalificar a los participantes que no cumplan con los requisitos en los presentes
      T&eacute;rminos y Condiciones. Asimismo, los participantes renuncian, a toda acci&oacute;n legal de cualquier
      especie o naturaleza que pretendan en contra de MARKETING Y MEDIOS ALTERNATIVOS S.A. DE C.V. y BARDAHL DE
      M&Eacute;XICO S. A. DE C.V., con motivo de la presente promoci&oacute;n y a cualquier cantidad o
      indemnizaci&oacute;n de cualquier tipo que pretendan en contra de las empresas referidas anteriormente, otorgando
      con ello el m&aacute;s amplio finiquito que en derecho proceda.</li>
    <li>Si por cualquier raz&oacute;n la promoci&oacute;n no llegase a ejecutarse tal y como estaba previsto, incluyendo
      sin limitaci&oacute;n; causas derivadas del SARS-CoV-2, la infecci&oacute;n por virus de computadora,
      <em>bugs</em>,
      <em>bots</em>, la manipulaci&oacute;n, intervenci&oacute;n no autorizada, el fraude, fallas t&eacute;cnicas o
      cualquier otra causa, o por cualquier siniestro o causa de la naturaleza que afecte a la administraci&oacute;n,
      seguridad, equidad, integridad o la correcta realizaci&oacute;n de la promoci&oacute;n, el Organizador de la
      promoci&oacute;n se reserva el derecho, a su sola discreci&oacute;n, para cancelar, demorar, modificar o terminar
      la
      promoci&oacute;n, sin responsabilidad alguna previo aviso a los participantes y a la autoridad competente.
    </li>
    <li>Cualquier violaci&oacute;n, incumplimiento, fraude, acto il&iacute;cito, falsificaci&oacute;n, alteraci&oacute;n
      de cualquier tipo, conducta, declaraci&oacute;n negativa en contra de empleados y funcionarios de MARKETING Y
      MEDIOS
      ALTERNATIVOS S.A. DE C.V. y BARDAHL DE M&Eacute;XICO S. A. DE C.V., en la presente promoci&oacute;n, en su
      desarrollo o en su terminaci&oacute;n; as&iacute; como las acciones que pongan en riesgo la integridad y buen
      desarrollo de la misma, tal es el caso de aquellos denominados &ldquo;hackers&rdquo; (t&eacute;rmino utilizado
      para
      referirse a personas con grandes conocimientos en inform&aacute;tica y telecomunicaciones que son empleados con
      objetivos personales y/o de lucro, el cual puede ser doloso e ilegal), traer&aacute; como consecuencia la
      descalificaci&oacute;n del participante que haya incurrido en las mismas.</li>
    <li>El Organizador de la promoci&oacute;n no se hace cargo de los gastos que generen: suministro de energ&iacute;a
      el&eacute;ctrica, servicio de telecomunicaciones, programas de software y hardware, reproductores musicales; ni
      recomienda o promueve marca alguna de insumos tecnol&oacute;gicos, ni cualquier otro requisito de
      participaci&oacute;n.</li>
    <li>El Organizador no es responsable de ninguna alteraci&oacute;n en el estado de salud del participante a
      consecuencia del consumo de los productos patrocinadores de la Promoci&oacute;n ni a consecuencia de hacer
      efectivo
      el premio ofrecido.</li>
    <li>Cualquier situaci&oacute;n u omisi&oacute;n no considerada en las presentes Bases ser&aacute; determinada
      exclusivamente por el Organizador de la promoci&oacute;n.</li>
    <li>El Organizador de la promoci&oacute;n se reserva el derecho de iniciar en su caso las acciones legales que sean
      necesarias en caso de presumir fraude o alteraci&oacute;n del juego.</li>
  </ul>
  <p>&nbsp;</p>
  <ol start="9">
    <li><strong>AVISO DE PRIVACIDAD.</strong></li>
  </ol>
  <p>&nbsp;</p>
  <p>En esta din&aacute;mica los datos est&aacute;n protegidos. Consulta el Aviso de Privacidad integral en <a
      href="http://www.innovacionquepremia.mx">www.innovacionquepremia.mx</a> .</p>
  <p>&nbsp;</p>


</div>
